

html,body{margin:0;}
p,figure,h1,h2,h3,h4,h5,h6{margin:0;}
ul,li{list-style: none; margin:0; padding:0;}
*{
    box-sizing: border-box;
    font-family: 'Malgun Gothic';
}
/* img{width:100%; vertical-align: top;} */
a{
    text-decoration: none;
    color:#555;
}
