@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('common.css');







.head_menu {display: none;}


/* 헤더 */
header {width:80%; margin: 0 auto;}
.header {
    width:80%; margin: 1% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .header img:nth-of-type(1) { width: 20%; height:20%;} */
.header div:nth-of-type(2) a {
    background: rgb(126,193,61);
    border-radius: 15px;
    padding:3px 10px 5px 10px;
    color:white;
}
.header div:nth-of-type(1) {
    width:30%;
}
.header div:nth-of-type(2) {
    width:30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.green {
    width:80%;
    margin:1% auto 0;
}
.green hr {
    width:0%;
    background-color: rgb(247,155,61); height: 1px; border: 0;
    animation: gr 3s forwards;
}
@keyframes gr {
    100% {width:100%;}
}




/* 메인 */
.spot {
    width:100%; height: 85vh;
    position: relative;
    margin-top:2%;
    overflow: hidden;
} 
.main {
    width:100%; height:100%;
}
.spot .main img {
    width:100%; 
}
.main_small {
    position: absolute;
    width:80%; margin: 0 auto;
    display: flex;
    justify-content: space-between;
    left:10%; bottom:10%;
}
/* .main_small p {
    font-family: 'BatangChe';
    font-size: 72px;
    color:white;
    writing-mode: vertical-rl;
    animation: cndjr 1s forwards;
}
@keyframes cndjr {
    0% {text-shadow: 0 gray;}
    100% {text-shadow: 4px 4px 4px gray;}
} */
.enl {  /* 흰상자 */
position: absolute;

right:10%; bottom:10%;
background-color: rgba(255,255,255,0.4);
width:496px; height:493px;
animation: box 1s forwards;
}
@keyframes box {
    100% { right:9%; bottom:11%;}
}

/* speclal */
.speclal {
    text-align: center;
    margin: 150px auto;
    width:80%;
}
.speclal h1 {
    font-size: 3em;
}
.speclal  span {
    display: block;
    margin: 30px auto;
    width: 10%; height: 2px;
    background: black;
}

/* 고로케 */
.rhfhzp {
    width:80%;
    margin: 00% auto;
    display:flex;
    align-items: center;
}
.rhfhzp figure {
    width:40%;
    position: relative;
}
.rhfhzp figure img {
    width:100%;
    position: relative;
    vertical-align: top;
}
.rhfhzp figure div {
    display: flex;
    position: absolute;
    align-items: center;
    width:100%; /* height: 20%; */
    margin:0;
    background: rgba(0,0,0,0.6);
    bottom:0%;
    padding: 10px 0;
}
.rhfhzp figure div img {
    width:10%; 
    border-radius: 100%;
    overflow: hidden;
    margin-left: 5%;
}
.rhfhzp figure div h1 {
    font: bold 2em 'Malgun Gothic';
}
.rhfhzp figure div p {
    margin-left: 5%;
    white-space: pre-line;
    color:white;
    font: 14px 'Malgun Gothic';
}
.rhfhzp figure:hover div p {
    transform:scale(1.1);
    transition:.3s
}

.rhfhzp div {
    margin-left: 3%;
    width:40%;
}
.rhfhzp div h1 {
    margin-bottom: 2%;
}
.rhfhzp div figcaption {
    white-space: pre-line;
    font: 18px 'Malgun Gothic';
}

/* 청산제과 */
.wprhk {
    width:80%;
    margin: 10% auto;
    display:flex;
    align-items: center;
}
.wprhk figure {
    width:40%;
    position: relative;
}
.wprhk figure img {
    width:100%; 
    position: relative;
    vertical-align: top;
}
.wprhk figure div {
    display: flex;
    position: absolute;
    align-items: center;
    width:100%; height: 20%;
    margin: 0;
    background: rgba(0,0,0,0.6);
    bottom:0%;
    padding: 10px 0;
}
.wprhk figure div img {
    width:10%; 
    border-radius: 100%;
    overflow: hidden;
    margin-left: 5%;
}
.wprhk div h1 {
    font: bold 2em 'Malgun Gothic';
}
.wprhk figure div p {
    margin-left: 5%;
    white-space: pre-line;
    color:white;
    font: 14px 'Malgun Gothic';
}
.wprhk figure:hover div p {
    transform:scale(1.1);
    transition:.3s
}

.wprhk div {
    width:40%;
    margin-left: 3%;
}
.wprhk div h1 {
    margin-bottom: 2%;
}
.wprhk div figcaption {
    white-space: pre-line;
    font: 18px 'Malgun Gothic';
}



/* FOOTER */
.footer {
    width:60%;
    margin: 3% auto;
}
.dnl { 
    margin: 5% auto 3%;
    border:1px solid rgb(217,217,217);
    border-top: 2px solid rgb(75,137,214);
}
.dnl div {
    padding: 1% 3%;
    align-items: center;
}
.dnl div a {
    margin: 0 3%;
}

.dkfo {
    display: flex;
    margin-left: 3%;
}
.dkfo .left {
    display: flex;
}
.dkfo .left a{
    display: flex;
}
.dkfo .left a div {
    display: flex;
    flex-direction: column;
}
.dkfo .left a div {
    color: rgb(149,149,149);
    text-align: center;
    margin-left: 1px;
}
.dkfo .left a figcaption {
    font-size: 8px;
}

.dkfo .right {
    margin-left: 3%;
    font-size: 12px;
}



/* 시장소개 */
.int {
    width:80%;
    margin: 5% auto;
}
.int .to {
    position: relative;
    width: 100%;
}
.int .to img {
    position: absolute;
    width:100%;
    margin: 0 auto;
}
.int .to div {
    position: relative;
    width:100%; height:35vw;
}
.int .to div figure {
    position: absolute;
    margin: 0 auto;
    left: 0%;
    width:30%; height: 36vw;
    background:  rgba(255,255,255,0.4);
} 
.int .to div article {
    position: absolute;
    background: rgb(255,247,238);
    text-align: center;
    padding: 5%;
    left:50%; top:50%;
    transform: translate(-50%, -50%);
}
.int .to div article h1 {
    font: bold 24px 'Malgun Gothic';
    color:  #666666;
    margin-bottom:2%;
    box-sizing: border-box;
}
.int .to div article figcaption {
    font: 18px 'Malgun Gothic';
}

/* 설명 */
.ac {
    width:80%;
    margin: 0% auto;
}
.ac ul li {
    display:flex;
    text-align: center;
    list-style: none;
    padding: 1.5% 0 1.5% 0;
    border-bottom: 1px solid rgb(225,225,225);
}
.ac ul li:nth-of-type(5) {border-bottom: none;}
.ac ul li figure {
    background: rgb(225,225,225);
    border-radius: 30vw;
    overflow: hidden;
    width:10%; height: 1.2vw;
    margin: 0 ;
    font: 18px 'Malgun Gothic';
    color:#656565;
}
.ac ul li figcaption {
    width:50%;
    margin-left: 10%;
    font: 16px 'Malgun Gothic';
    color:rgb(136,136,132);
}
.ac ul li figcaption:hover {
    transform:scale(1.1);
    color:rgb(109, 109, 108);
    transition:.2s;
}




.int2 {
    width:80%;
    margin: 20% auto 0;
}
.int2 .to2 {
    position: relative;
    width: 100%;
}
.int2 .to2 img {
    position: absolute;
    width:100%;
    margin: 0 auto;
}
.int2 .to2 div {
    position: relative;
    width:100%; height:35vw;
}
.int2 .to2 div figure {
    position: absolute;
    margin: 0 auto;
    right: 0%;
    width:30%; height: 35vw;
    background:  rgba(255,255,255,0.4);
} 
.int2 .to2 div article {
    position: absolute;
    background: rgb(255,247,238);
    text-align: center;
    padding: 5%;
    left:50%; top:50%;
    transform: translate(-50%, -50%);
}
.int2 .to2 div article h1 {
    font: bold 24px 'Malgun Gothic';
    color:  #666666;
    margin-bottom:2%;
    box-sizing: border-box;
}
.int2 .to2 div article figcaption {
    font: 18px 'Malgun Gothic';
}


.ac2 {
    width:80%;
    margin: 0 auto;
}
.ac2 ul {
    margin-top: 5%;
}
.ac2 ul li {
    display:flex;
    text-align: center;
    list-style: none;
    padding: 1.5% 0 1.5% 0;
    border-bottom: 1px solid rgb(225,225,225);
    
}
.ac2 ul li:nth-of-type(5) {border-bottom: none;}
.ac2 ul li figure {
    background: rgb(225,225,225);
    border-radius: 30vw;
    overflow: hidden;
    width:10%; height: 1.2vw;
    margin: 0 ;
    font: 18px 'Malgun Gothic';
    color:#656565;
}
.ac2 ul li figcaption {
    width:50%;
    margin-left: 10%;
    font: 16px 'Malgun Gothic';
    color:rgb(136,136,132);
}
.ac2 ul li figcaption:hover {
    transform:scale(1.1);
    color:rgb(109, 109, 108);
    transition:.2s;
}

/* 문의처 */
.call {
    width:80%;
    display: flex;
    margin: 10% auto 10%;
    justify-content: flex-end;
    color:gray;
}


/* 쇼핑몰 */
.mall {
    width:80%;
    margin: 1% auto ;
    font: 16px 'Malgun Gothic' ;
    color:rgb(94, 94, 94);
    vertical-align:middle 
}
.mall ul {
    margin: 0 auto 6%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.mall ul li {
    width:48%; height: 40%;
    margin: 5% 0 0 0;
    font: 18px 'Malgun Gothic';
    text-align: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.mall ul li a {
    position: absolute;
    width:80%; height:10%;
    background-color: rgba(255,255,255,0.6);
    left:10%; bottom:5%;
}
.mall ul li a img {
    width:20%;
}
.mall ul li a:hover {
    background-color:  rgba(255,255,255,0.8);
    transition: .5s;
}
.mall ul li img {
    height: 100%;
    width: 100%;
}


.mall ul li:nth-of-type(2) img {
    width:80%;
}
.mall ul li div {
    position: absolute;
    top: 15%; left: 31%; 
    white-space: pre-line;
}
.mall ul li div figcaption {
    margin-top:15%;
    font-size:14px;
}
.mall ul li:nth-of-type(3) img {
    padding-top:20%;
}
.mall ul li:nth-of-type(4) a img {
    width:40%; height:45%;
    margin-top:2.5%;
}
.mall ul li:nth-of-type(5) a img {
    width:25%; height:45%;
    margin-top:2.5%;
}
/* .mall ul li:nth-of-type(6) {
    margin-top: 250px;
}
.mall ul li:nth-of-type(7) {
    margin-top: 150px;
} */

.mall ul li:nth-of-type(odd){
    right:100%;
    animation: odd 2.5s forwards;
}
@keyframes odd {
    100% {right: 0;}
}
.mall ul li:nth-of-type(even){
    left:100%;
    animation: even 2.5s .5s forwards;
}
@keyframes even {
    100% {left: 0;}
}



/* 전통시장 찾기 */
.find {
    width:80%;
    margin: 3% auto;
    font: 16px 'Malgun Gothic';
    color:rgb(88, 88, 88);
}

.box {
    width:60%;
    margin: 0 auto;
    background: rgb(210, 236, 183);
    border-radius: 25px;
    padding: 1% 3%;
}
.box select {
    margin-right: 2%;
}
.box input {
    margin-right: 2%;
}
.box p {
    margin-top: 8px;
}
.box input:nth-of-type(3) {
    width: 10%;
    background: #8e8e8e; 
    color:white;
    margin:5px auto 0;
    border:none;
    border-right:1px solid rgb(77, 77, 77);
    border-bottom:1px solid rgb(41, 41, 41);
}

/* 지도 */
.map {
    width:60%;
    margin: 0 auto;
    border:1px solid rgb(210, 236, 183);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.map img {
    margin: 5% 0;
}

.position {
    width:60%;
    margin:5% auto;
}
.pb {
    width:60%;
    margin:0 auto;
}
.pb div {
    display: flex;
    background-color: rgb(210, 236, 183);
}
.pb div p {
    font-weight: bold;
    margin-left: 5%;
}
.pb div p:nth-of-type(2) {
    margin-left: 21%;
}

.pb ul {
    height: 150px;
    overflow-y:scroll;
    border:1px solid rgb(210, 236, 183);
}
.pb ul li {
    display: flex;
    border-bottom:1px solid rgb(227, 247, 206);
    padding: 2px 0;
}
.pb ul figure {
    width: 30%;
    margin-left: 5%;
}

/* 주황박스 */
.click {
    width: 50%;
    margin: 0 auto;
}
.two {
    display: flex;
    /* justify-content: space-between; */
}
.two .le {
    display: flex;
    justify-content: center;
    align-items: center;
}
.two .le img {
    padding-bottom:5%;
    animation: po 1s infinite;
}
@keyframes po {
    100% {padding-bottom:0;}
}

/* .right .left */
.ri_up {
    display: flex;
    width:60%;
    margin: 0 auto;
    border:1px solid rgb(250,243,235);
    font: 16px 'Malgun Gothic';
    color:rgb(119, 118, 118);
}
.ri_up article{
    padding: 2px 10px;
    border-right:1px solid rgb(250,243,235);
    background: rgb(255, 232, 207);
}
.ri ul li {
    display: flex;
}
.ri ul li figure {
    border-right:1px solid rgb(250,243,235);
    background:  rgb(250,243,235);
    padding: 1px 20px;
}
.ri ul li figcaption {
    margin: 2px 20px;
}

table {
    border-collapse: collapse;
    margin:0 auto;
}

th {
    background: rgb(255, 232, 207);
}

tr {
    color: rgb(119, 118, 118);
    border: 1px solid rgb(250, 243, 235);
}
td {
    padding: 0 15px;
    white-space: nowrap;
}
.infra {
    margin: 0 auto;
    width:80%;
}
.infra p {
    margin: 3% 0 1% 39%;
    font-weight: 900;
}
.infra_1 {
    width:60%; 
    margin: 0 0 0 420px;
}
.infra_2 {
    width:60%; 
    margin: 0 0 0 420px;
}

.infra_1 td:nth-of-type(even) {
    padding: 0 150px 0 30px;
}
.infra_2 td:nth-of-type(even) {
    padding: 0 360px 0 30px;
}



.infra_3 {display: none;}





































/* ------------------------------@@@반응형@@@------------------------------ */

@media (max-width:480px) {
    
    /* hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh 헤더 rrrrrrrrrrrrrrrrrrrrrrrrrr*/
    
    
.header {
    display: none;
}

.head_menu {
    display: block;
    display: flex;
    justify-content: space-between;
}

.head_menu {
    width: 80%;
    margin: 3% auto 0;
}

.mlogo {
    display: inline-block;
    width: 20%;
}

.mlogo img {
    width: 100%;
    height: 20wv;
}

.menu {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.menu .sub {
    position: fixed;
    right: -420px;
    width: 420px;
    transition: .3s;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.menu:hover .sub {
    right: 0%;
}

.menu {
    z-index: 999;
    margin-top: 3%;
}

.sub a {
    font: 12px 'Malgun Gothic';
    transition: .5s;
    padding: 0px 5px 0 0;
}

.menu-trigger span {
    display: block;
    width: 25px;
    height: 3px;
    background: rgb(49, 49, 49);
    margin-bottom: 5px;
    transition: .3s;
}

.menu-trigger:hover span:nth-of-type(1) {
    transform: translateY(8px) rotate(-45deg);
}

.menu-trigger:hover span:nth-of-type(2) {
    opacity: 0;
}

.menu-trigger:hover span:nth-of-type(3) {
    transform: translateY(-8px) rotate(45deg);
}

    /* mmmmmmmmmmmmmmmmmmm 메인 nnnnnnnnnnnnnnnnn*/
    .spot {
        width:100%; height: 60vw;
        position: relative;
        margin-top:3%;
        overflow: hidden;
    } 
    .main {
        width:100%; height:60vw;
    }
    .spot .main img {
        width:100%; 
    }
    .spot .main_small {
        position: absolute;
        width:80%; height:30vw;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        left:10%; bottom:15%;
    }
    .spot .main_small img {width:27%;}
    .spot .main_small svg {width:20%; height: 30vw;/*  bottom:10%; */}
    /* 흰상자 */
    .enl { 
    position: absolute;
    
    right:10%; bottom:17%;
    background-color: rgba(255,255,255,0.4);
    width:20%; height:25vw;
    animation: box 1s forwards;
    }
    @keyframes box {
        100% { right:9%; bottom:13%;}
    }
    
    /* speclal */
    .speclal {
        text-align: center;
        margin: 1vw auto;
        width:80%;
    }
    .speclal h1 {
        font-size: 2em;
    }
    .speclal span {
        display: block;
        margin: 3vw auto;
        width: 10%; height: 2px;
        background: black;
    }
    .speclal p {font-size: 12px;}
    
    /* 고로케 */
    .rhfhzp {
        width:100%;
        margin: 5% auto;
        display:inline-block;
        align-items: center;
    }
    .rhfhzp figure {
        width:100%;
        position: relative;
    }
    .rhfhzp figure img {
        width:100%;
        position: relative;
    }
    .rhfhzp figure div {
        display: flex;
        position: absolute;
        align-items: center;
        width:100%; height: 15vw;
        margin:0;
        background: rgba(0,0,0,0.6);
        bottom:0%;
    }
    .rhfhzp figure div img {
        width:10%; 
        border-radius: 100%;
        overflow: hidden;
        margin-left: 5%;
    }
    .rhfhzp figure div p {
        margin-left: 5%;
        white-space: pre-line;
        color:white;
        font-size: 10px;
        width:60%;
    }
    .rhfhzp figure div p:hover {
        display: none;
    }
    
    .rhfhzp div {
        margin-top: 3%;
        width:100%;
        text-align: center;
    }
    .rhfhzp div p {font-size:10px;}
    .rhfhzp div figcaption {
        white-space: pre-line;
        font-size:12px;
    }
    
    /* 청산제과 */
    
    .wprhk {
        width:100%;
        margin: 3% auto 13%;
        display:inline-block;
        align-items: center;
    }
    .wprhk figure {
        width:100%;
        position: relative;
    }
    .wprhk figure img {
        width:100%;
        position: relative;
    }
    .wprhk figure div {
        display: flex;
        position: absolute;
        align-items: center;
        width:100%; height: 15vw;
        margin:0;
        background: rgba(0,0,0,0.6);
        bottom:0%;
    }
    .wprhk figure div img {
        width:10%; 
        border-radius: 100%;
        overflow: hidden;
        margin-left: 5%;
    }
    .wprhk figure div p {
        margin-left: 5%;
        white-space: pre-line;
        color:white;
        font-size: 10px;
        width:60%;
    }
    .wprhk figure div p:hover {
        display: none;
    }
    
    .wprhk div {
        margin-top: 3%;
        width:100%;
        text-align: center;
    }
    .wprhk div h1 {
        margin-bottom: 2%;
    }
    .wprhk div p {font-size:10px;}
    .wprhk div figcaption {
        white-space: pre-line;
        font-size:12px;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    /*FFFFFFFFFFFFFFFFFFFFFF FOOTER RRRRRRRRRRRRRRRRRRRRR*/
    .footer {
        width:85%;
        margin: 3% auto;
    }
    .dnl { 
        margin: 5% auto 3%;
        border:1px solid rgb(217,217,217);
        border-top: 2px solid rgb(75,137,214);
    }
    .dnl div {
        font-size: 10px;
        padding: 1% 3%;
        align-items: center;
        vertical-align: top;
    }
    .dnl div a {
        margin: 0 1%;
    }
    .dnl div a img {width:18%; height:3vw;}
    
    .dkfo {
        display: flex;
        margin-left: 0%;
    }
    .dkfo .left {
        display: flex;
    }
    .dkfo .left a {
        display: flex;
    }
    .dkfo .left a img {width:30%; height:8vw;}
    .dkfo .left a div {
        display: flex;
        flex-direction: column;
    }
    .dkfo .left a div {
        color: rgb(149,149,149);
        text-align: center;
        margin-left: 1px;
    }
    .dkfo .left a div p {font-size: 12px;}
    .dkfo .left a figcaption {
        font-size: 8px;
    }
    .dkfo .right {
        margin-left: 3%;
        font-size: 10px;
    }
    
    
    
    
    
    
    
    
    /*iiiiiiiiiiiiiiiiiiiiiiiiiiii 소개 ffffffffffffffffffffffffff*/
    /* 시장소개 */
    .int {
        width:80%;
        margin: 5% auto;
    }
    .int .to {
        position: relative;
        width: 100%;
    }
    .int .to img {
        position: absolute;
        width:100%;
        margin: 0 auto;
    }
    .int .to div {
        position: relative;
        width:100%; height:35vw;
    }
    .int .to div figure {
        position: absolute;
        margin: 0 auto;
        left: 0%;
        width:30%; height: 36vw;
        background:  rgba(255,255,255,0.4);
    } 
    .int .to div article {
        position: absolute;
        background: rgb(255,247,238);
        text-align: center;
        padding: 5%;
        left:50%; top:50%;
        transform: translate(-50%, -50%);
    }
    .int .to div article h1 {
        font: bold 14px 'Malgun Gothic';
        color:  #666666;
        margin-bottom:2%;
        box-sizing: border-box;
    }
    .int .to div article figcaption {
        font: 12px 'Malgun Gothic';
        word-break: keep-all;
    }
    
    /* 설명 */
    .ac {
        width:80%;
        margin: 0% auto;
    }
    .ac ul li {
        display:flex;
        text-align: center;
        list-style: none;
        padding: 1.5% 0 1.5% 0;
        border-bottom: 1px solid rgb(225,225,225);
    }
    .ac ul li:nth-of-type(5) {border-bottom: none;}
    .ac ul li figure {
        background: rgb(225,225,225);
        border-radius: 30vw;
        overflow: hidden;
        width:20%; height: 16px;
        padding-bottom: 2px;
        font: 12px 'Malgun Gothic';
        color:#656565;
    }
    .ac ul li figcaption {
        width:70%;
        margin-left: 10%;
        font: 12px 'Malgun Gothic';
        color:rgb(136,136,132);
    }
    .ac ul li figcaption:hover {
        display: none;
    /*     transform:scale(1.1);
        color:rgb(109, 109, 108);
        transition:.2s; */
    }
    
    
    
    
    .int2 {
        width:80%;
        margin: 20% auto 0;
    }
    .int2 .to2 {
        position: relative;
        width: 100%;
    }
    .int2 .to2 img {
        position: absolute;
        width:100%;
        margin: 0 auto;
    }
    .int2 .to2 div {
        position: relative;
        width:100%; height:35vw;
    }
    .int2 .to2 div figure {
        position: absolute;
        margin: 0 auto;
        right: 0%;
        width:30%; height: 35vw;
        background:  rgba(255,255,255,0.4);
    } 
    .int2 .to2 div article {
        position: absolute;
        background: rgb(255,247,238);
        text-align: center;
        padding: 5%;
        left:50%; top:50%;
        transform: translate(-50%, -50%);
    }
    .int2 .to2 div article h1 {
        font: bold 14px 'Malgun Gothic';
        color:  #666666;
        margin-bottom:2%;
        box-sizing: border-box;
    }
    .int2 .to2 div article figcaption {
        font: 12px 'Malgun Gothic';
        word-break: keep-all;
    }
    
    
    .ac2 {
        width:80%;
        margin: 0 auto;
    }
    .ac2 ul {
        margin-top: 5%;
    }
    .ac2 ul li {
        display:flex;
        text-align: center;
        list-style: none;
        padding: 1.5% 0 1.5% 0;
        border-bottom: 1px solid rgb(225,225,225);
        
    }
    .ac2 ul li:nth-of-type(5) {border-bottom: none;}
    .ac2 ul li figure {
        background: rgb(225,225,225);
        border-radius: 30vw;
        overflow: hidden;
        width:20%; height: 16px;
        padding-bottom: 2px;
        font: 12px 'Malgun Gothic';
    }
    .ac2 ul li figcaption {
        width:70%;
        margin-left: 10%;
        font: 12px 'Malgun Gothic';
        color:rgb(136,136,132);
    }
    .ac2 ul li figcaption:hover {
        display: none;
    /*     transform:scale(1.1);
        color:rgb(109, 109, 108);
        transition:.2s; */
    }
    
    /* 문의처 */
    .call {
        width:80%;
        display: flex;
        margin: 10% auto 10%;
        justify-content: flex-end;
        color:gray;
        font-size: 10px;
    }
    .call img {width:5%; height: 5vw; margin-left: 3%; font-size:10px}




















/* sssssssssssssssssssssssssss 쇼핑몰 mmmmmmmmmmmmmmmmmmmmmmmm */
.mall {
    width:80%;
    margin: 1% auto ;
    font: 16px 'Malgun Gothic' ;
    color:rgb(94, 94, 94);
    vertical-align:middle 
}
.mall ul {
    margin: 0 auto 6%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.mall ul li {
    width:48%; height: 40%;
    margin: 5% 0 0 0;
    font: 10px 'Malgun Gothic';
    text-align: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.mall ul li a {
    position: absolute;
    width:80%; height:10%;
    background-color: rgba(255,255,255,0.6);
    left:10%; bottom:5%;
}
.mall ul li a img {
    width:20%;
}
.mall ul li a:hover {
    background-color:  rgba(255,255,255,0.8);
    transition: .5s;
}
.mall ul li img {
    height: 100%;
    width: 100%;
}


.mall ul li:nth-of-type(2) img {
    width:80%;
}
.mall ul li div {
    position: absolute;
    top: 25%; left: 25%; 
    white-space: pre-line;
    font: 10px 'Malgun Gothic';
}
.mall ul li div figure {margin-top: 3%;}
.mall ul li div figcaption {
    display: none;
/*     margin-top:15%;
    font: 10px 'Malgun Gothic';
    word-break: keep-all */
}
.mall ul li:nth-of-type(3) img {
    padding-top:20%;
}
.mall ul li:nth-of-type(4) a img {
    width:40%; height:45%;
    margin-top:2.5%;
}
.mall ul li:nth-of-type(5) a img {
    width:25%; height:45%;
    margin-top:2.5%;
}

.mall ul li:nth-of-type(odd){
    right:100%;
    animation: odd 2.5s forwards;
}
@keyframes odd {
    100% {right: 0;}
}
.mall ul li:nth-of-type(even){
    left:100%;
    animation: even 2.5s .5s forwards;
}
@keyframes even {
    100% {left: 0;}
}


.mall ul li {margin-bottom:4%;}



















/* ffffffffffffffffffffffffffff 전통시장 찾기 ddddddddddddddddddddd */
/* 전통시장 찾기 */
.find {
    width:80%;
    margin: 3% auto 8%;
    font: 12px 'Malgun Gothic';
    color:rgb(88, 88, 88);
}

.box {
    width:100%;
    margin: 0 auto;
    background: rgb(210, 236, 183);
    border-radius: 25px;
    padding: 1% 3%;
}
.box label {margin-left:10%;}
.box label:nth-of-type(3) {margin-left:27%;}
.box label:nth-of-type(4) {margin-left:27%;}
.box select {
    margin-right: 2%;
    margin-bottom: 5px;
}
.box input {
    margin-right: 2%;
}
.box input:nth-of-type(3) {width: 50px;}
.box p {
    margin-top: 8px;
    margin-left:10px;
    word-break: keep-all;
    font: 10px 'Malgun Gothic';
    
}

/* 지도 */
.map {
    width:100%;
    margin: 0 auto;
    border:1px solid rgb(210, 236, 183);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.map img {
    margin: 5% 0;
    width:60%;
}

.position {
    width:100%;
    margin:5% auto;
}
.pb {
    width:100%;
    margin:0 auto;
}
.pb div {
    display: flex;
    background-color: rgb(210, 236, 183);
}
.pb div p {
    font-weight: bold;
    margin-left: 5%;
}
.pb div p:nth-of-type(2) {
    margin-left: 21%;
}

.pb ul {
    height: 150px;
    overflow-y:scroll;
    border:1px solid rgb(210, 236, 183);
}
.pb ul li {
    display: flex;
    border-bottom:1px solid rgb(227, 247, 206);
    padding: 2px 0;
}
.pb ul figure {
    width: 30%;
    margin-left: 5%;
}

/* 주황박스 */
.click {
    width: 50%;
    margin: 0 auto;
}
.two {
    display: flex;
    /* justify-content: space-between; */
}
.two .le {
    display: flex;
    justify-content: center;
    align-items: center;
}
.two .le img {
    padding-bottom:5%;
    animation: po 1s infinite;
}
@keyframes po {
    100% {padding-bottom:0;}
}

/* .right .left */
.ri_up {
    display: flex;
    width:60%;
    margin: 0 auto;
    border:1px solid rgb(250,243,235);
    font: 16px 'Malgun Gothic';
    color:rgb(119, 118, 118);
}
.ri_up article{
    padding: 2px 10px;
    border-right:1px solid rgb(250,243,235);
    background: rgb(255, 232, 207);
}
.ri ul li {
    display: flex;
}
.ri ul li figure {
    border-right:1px solid rgb(250,243,235);
    background:  rgb(250,243,235);
    padding: 1px 20px;
}
.ri ul li figcaption {
    margin: 2px 20px;
}

table {
    border-collapse: collapse;
    margin:0 auto;
}

th {
    background: rgb(255, 232, 207);
}

tr {
    color: rgb(119, 118, 118);
    border: 1px solid rgb(250, 243, 235);
}
td {
    padding: 0 15px;
    white-space: nowrap;
}
.infra {
    margin: 0 auto;
    width:80%;
}

.ri_up { display: none;}

.infra p {
    margin: 5% 0 2% 0;
    font-weight: 900;
}
.infra_1 {
    width:60%; 
    margin: 0
}
.infra_2 {
    width:60%; 
    margin: 0;
}
.infra_3 {
    display:block;
    width:60%; 
    margin: 3% 0 0 0;
}
.infra_1 td:nth-of-type(even) {
    padding-right: 1vw;
}
.infra_2 td:nth-of-type(even) {
    padding-right: 34vw;
}
.infra_3 td:nth-of-type(even) {
    padding-right: 32vw;
}
















    }/* 끝 */